.layout{
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  padding-top:5%;
}


.logo{
  width: 35%;
  cursor: pointer;
}

.buttons{
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 200px;
}

.hiddenFileInput{
  display: none;
}

.progress{
  width: 50%;
}
