.p-card-body {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.p-card .p-card-content {
  padding: 0!important;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 1.5rem!important;
}
 .p-button.p-button-icon-only {
   width: 1.5rem!important;
 }

